@model CatalogoAutomotivo.MER.Fabricante

@{
    ViewData["Title"] = "Editar fabricante";
}

<h1>Editar</h1>

<h4>Fabricante: @Model.RazaoSocial</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="RazaoSocial" class="control-label">Razão Social</label>
                <input asp-for="RazaoSocial" class="form-control" />
                <span asp-validation-for="RazaoSocial" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Slogan" class="control-label">Slogan</label>
                <input asp-for="Slogan" class="form-control" />
                <span asp-validation-for="Slogan" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataFundacao" class="control-label">Data de fundação</label>
                <input asp-for="DataFundacao" class="form-control" />
                <span asp-validation-for="DataFundacao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Fundador" class="control-label">Fundador</label>
                <input asp-for="Fundador" class="form-control" />
                <span asp-validation-for="Fundador" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sede" class="control-label">Sede</label>
                <input asp-for="Sede" class="form-control" />
                <span asp-validation-for="Sede" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WebSite" class="control-label">Web Site</label>
                <input asp-for="WebSite" class="form-control" />
                <span asp-validation-for="WebSite" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Img" class="control-label">Logo</label>
                <input asp-for="Img" class="form-control" type="file" name="file" />
                <span asp-validation-for="Img" class="text-danger"></span>
            </div>

            <br />

            <div class="form-group">
                <input type="submit" value="Salvar" class="btn btn-success" />

                <a asp-action="Index">
                    <button type="button" class="btn btn-secondary">Voltar</button>
                </a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
