<div>
    <h1>Carros</h1>

    <div class="card" style="width: 20rem;">
        <img class="card-img-top" src="~/img/Carros/UnoMille91.jpg" alt="Uno Mille 1991">
        <div class="card-body">
            <h5 class="card-title">Uno Mille 1991</h5>
            <p class="card-text">1.0, Fiasa, Carburado</p>
            <a href="#" class="btn btn-primary">Mais detalhes</a>
        </div>
    </div>
</div>