@{
    ViewData["Title"] = "Categorias";
}

<div id="Categorias">
    <h2>Categorias</h2>

    <div class="d-flex justify-content-between">

        <div class="card text-bg-white col-md-2">
            <img src="~/img/Categorias/Hatch.webp" class="card-img" alt="...">
            <div class="card-img-overlay">
                <h5 class="card-title">Hatch</h5>
            </div>
        </div>
        <div class="card text-bg-white col-md-2">
            <img src="~/img/Categorias/Sedan.jpg" class="card-img" alt="...">
            <div class="card-img-overlay">
                <h5 class="card-title">Sedan</h5>
            </div>
        </div>
        <div class="card text-bg-white col-md-2">
            <img src="~/img/Categorias/SUV.webp" class="card-img" alt="...">
            <div class="card-img-overlay">
                <h5 class="card-title">SUV</h5>
            </div>
        </div>
        <div class="card text-bg-dawhiterk col-md-2">
            <img src="~/img/Categorias/van.jpg" class="card-img" alt="...">
            <div class="card-img-overlay">
                <h5 class="card-title">Van</h5>
            </div>
        </div>
    </div>
</div>